
[class^="col"]{
    background-color: #006bf9;
    border: solid 1px ;
    padding: 1rem;
    text-align: center;
    color: white;
}


.bg-green{
background-color: #01e165;
border: #006bf9 solid 1px;
}

.middle{
    margin-top: 1rem;
}